* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Inter, sans-serif;
  }
body{
    height: 100vh;
}
main{
    display: flex;
    height: 100vh;
    display: flex;
    justify-content: center;
    .form{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .svg-logo{
            border-radius: 10px;
            border: 1px solid #d9d9d9;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            padding: 0 15px;
        }
        .title{
            color: var(--Gray-900, #101828);
            letter-spacing: -0.8px;
            align-self: center;
            margin-top: 54px;
            white-space: nowrap;
            font: 600 40px/180% Inter, sans-serif;
        }
     
        .describe{
            color: var(--Gray-500, #667085);
            text-align: center;
            align-self: center;
            // margin-top: 25px;
            max-width: 250px;
            font: 400 15px/25px Inter, sans-serif;
        }
        .form-input{
            margin-top: 41px;
            display: flex;
            flex-direction: column;
            width: 400px;
            .label{
                color: #52525C;
                padding-bottom: 8px;
                font: 500 14px/150% Inter, sans-serif;
            }
            input{
                width: 100%;
                border: 2px solid #D9D9D9;
                padding: 12px 16px;
                font: 400 15px/160% Inter, sans-serif;
                border-radius: 8px;
                background-color: #fff;
            }
            ::-webkit-input-placeholder { /* Edge */
                color: rgba(0,0,0,0.5);
                font: 400 15px/160% Inter, sans-serif;
            }
              
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(0,0,0,0.5);
                font: 400 15px/160% Inter, sans-serif;
            }
              
            ::placeholder {
                color: rgba(0,0,0,0.5);
                font-size: 0.9em;
                font: 400 15px/160% Inter, sans-serif;
            }
        }
        .form-input-confirm{
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            width: 400px;
            .label{
                color: #52525C;
                padding-bottom: 8px;
                font: 500 14px/150% Inter, sans-serif;
            }
            input{
                width: 100%;
                border: 2px solid #D9D9D9;
                padding: 12px 16px;
                font: 400 15px/160% Inter, sans-serif;
                border-radius: 8px;
                background-color: #fff;
            }
            ::-webkit-input-placeholder { /* Edge */
                color: rgba(0,0,0,0.5);
                font: 400 15px/160% Inter, sans-serif;
            }
              
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(0,0,0,0.5);
                font: 400 15px/160% Inter, sans-serif;
            }
              
            ::placeholder {
                color: rgba(0,0,0,0.5);
                font-size: 0.9em;
                font: 400 15px/160% Inter, sans-serif;
            }
        }
        .condition{
            color:#667085;
            align-self: start;
            display: flex;
            margin-top: 25px;
            gap: 6px;
            input{
                border-radius: 8px;
                border: 1px solid #d9d9d9;
                box-shadow: 1px 3px 5px 1px rgba(46, 46, 66, 0.08);
                background-color: #fff;
                width: 18px;
                height: 18px;
            }
            label{
                padding-left: 3px;
                color: #667085;
                flex-grow: 1;
                white-space: nowrap;
                font: 400 13px/154% Inter, sans-serif;
            }
        }
        .condition2{
            color:#667085;
            align-self: start;
            display: flex;
            margin-top: 22px;
            gap: 6px;
            input{
                border-radius: 8px;
                border: 1px solid #d9d9d9;
                box-shadow: 1px 3px 5px 1px rgba(46, 46, 66, 0.08);
                background-color: #fff;
                width: 18px;
                height: 18px;
            }
            label{
                padding-left: 3px;
                color: #667085;
                flex-grow: 1;
                white-space: nowrap;
                font: 400 13px/154% Inter, sans-serif;
            }
        }
        .reset-btn{
            margin-top: 45px;
            width: 100%;
            button{
                cursor: pointer;
                border: none;
                color: #fff;
                white-space: nowrap;
                border-radius: 8px;
                background-color: #024bb6;
                width: 100%;
                align-items: center;
                padding: 15px 60px;
                font: 500 12px/150% Inter, sans-serif;
            }
        }
        .back-to-login{
            align-self: center;
            display: flex;
            margin-top: 28px;
            gap: 8px;
            cursor: pointer;
            .svg{
                aspect-ratio: 1;
                object-fit: contain;
                object-position: center;
                width: 15px;
                overflow: hidden;
                max-width: 100%;
                svg{
                    path{
                        stroke: #667085;
                    }
                }
            }
            .text{
                color: var(--Gray-500, #667085);
                align-self: center;
                flex-grow: 1;
                white-space: nowrap;
                margin: auto 0;
                font: 600 10px/280% Inter, sans-serif;
            }
        }
      
        
        
    }
}